*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Libre Caslon Text', serif;
}
body{
    background-color: #F7EBE8;
}
.container{
    max-width: 100%;
    margin: 0%;
    padding: 0;
}
